@import url('../node_modules/@sabaki/shudan/css/goban.css');

#main {
        z-index: 10;
    }
    main {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 80px;
        background: #C2CB9C url('../img/ui/tatami.png') center;
    }
    #goban {
        box-sizing: border-box;
        box-shadow: 0 5px 20px rgba(20, 0, 15, .8);
    }
    #goban.crosshair {
        cursor: crosshair;
}

header, #bar .bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    overflow: hidden;
    transition: transform .2s;
}

header {
        display: flex;
    }
    header .hotspot {
        position: relative;
        width: 24px;
        height: 40px;
        flex: none;
        margin: 0 20px;
        background: #a456bb;
        transform: translateY(-84px);
        transition: transform .2s;
    }
    header .hotspot::before, header .hotspot::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -12px;
        left: 0;
        border-top: 12px solid #a456bb;
        border-right: 12px solid transparent;
    }
    header .hotspot::after {
        left: 12px;
        border-right: none;
        border-left: 12px solid transparent;
    }
    header.hotspot .hotspot {
        transform: none;
    }
    header .playercontent {
        min-width: 0;
        display: flex;
        align-items: center;
        flex: none;
        justify-content: flex-end;
        flex: 1 0;
        padding: 0 10px;
    }
    header .playercontent.player_-1 {
        justify-content: flex-start;
        transform: scale(2.0) translateX(25%);
    }
    header .playercontent.player_1 {
        transform: scale(2.0) translateX(-25%);
    }
    header .playercontent > * + * {
        margin-left: 5px;
    }
    header .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    header .engine {
        font-family: Consolas, Menlo, Monaco, 'Ubuntu Mono', monospace;
    }
    header .rank {
        flex: 0 1 auto;
        opacity: .4;
    }
    header .captures {
        flex: none;
        display: inline-block;
        height: 20px;
        min-width: 10px;
        border-radius: 10px;
        padding: 0 5px;
        background: black;
        line-height: 20px;
        text-align: center;
        opacity: .7;
        font-size: 0.8em;
        transition: opacity .2s;
    }
    header .current-player, header .menu {
        display: flex;
        align-items: center;
        flex: none;
        justify-content: center;
        padding: 5px;
    }
    header .current-player {
        cursor: pointer;
        transform: scale(2.0);
    }
    header .menu {
        width: 64px;
    }
    header .menu:hover, header .menu:focus {
        background: #222;
    }
    header .menu img {
        filter: invert(100%);
        transform: scale(2.0);
    }

#bar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 80px;
        overflow: hidden;
        text-align: center;
        background: #26292C;
        color: #eee;
        line-height: 80px;
        transition: background .2s;
    }
    #bar .bar { transform: translateY(-80px); }
    #bar .bar.current { transform: none; }
    #bar header:not(.current) { transform: translateY(80px); }
    #bar .bar.hidecontent > * { display: none; }
    #bar .bar .close {
        display: block;
        position: absolute;
        right: 8px;
        top: 0;
        height: 80px;
        width: 70px;
        background: url('../node_modules/octicons/build/svg/x.svg') center / auto 42px no-repeat;
        opacity: .5;
    }
    #bar .bar .close:active { opacity: .7; }
    #scoring .text {
        margin-left: -20px
    }
    #scoring {
        font-size: 1.6em;
    }
    #scoring button {
        font-size: 1.2em;
    }
    #scoring .close, #estimator .close, #find .close,
    #guess .close, #autoplay .close {
        filter: invert(100%);
    }
    .edit #bar { background: #C4BD64; }
    .scoring #bar, .estimator #bar { background: #C42311; }
    .find #bar { background: #0050C0; }
    .guess #bar { background: #823499; }
    #bar .bar input {
        box-sizing: border-box;
        height: 64px;
    }
    #bar .bar button:active {
        transform: translateY(-46%);
    }
    #bar .pass-button {
        z-index: 1000;
        margin-left: 5%;
        transform: scale(1.85);
    }
    #bar .quit-button {
        z-index: 1000;
        margin-right: 5%;
        transform: scale(1.85);
    }
    #scoring .result, #estimator .result {
        position: absolute;
        left: 20px;
        top: 0;
        height: 100%;
    }
    #scoring .result button, #estimator .result button {
        box-sizing: border-box;
        height: 64px;
        margin-right: 1.4rem;
        background: #600000;
        transform: none;
    }
    #scoring .result button:hover, #estimator .result button:hover,
    #scoring .result button:focus, #estimator .result button:focus {
        background: #711111;
    }
    #scoring .result button:active, #estimator .result button:active {
        transform: translateY(4%);
}

#popupmenu-overlay .popupmenu {
    transform: scale(2.0) translateX(100%) translateY(33.3%);
}

#find button {
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 178px;
        width: 34px;
        height: 32px;
        padding-left: 7px;
        padding-right: 7px;
        transform: translateY(-50%);
        background: #002090;
    }
    #find button:hover, #find button:focus { background: #001080; }
    #find button img {
        filter: invert(100%);
    }
    #find button:nth-child(2) { left: 212px; }
    #find input {
        width: 173px;
    }
    #find form {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
}

#slider {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 25px;
        height: 100%;
        background: #111;
        box-shadow: 0 0 10px #111;
        z-index: 2;
    }
    #slider a {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        color: #666;
        font-size: .8em;
        line-height: 25px;
        text-align: center;
        text-decoration: none;
        transition: color .2s;
    }
    #slider a:active { color: #eee; }
    #slider a.next {
        top: auto;
        bottom: 0;
    }
    #slider .inner {
        position: absolute;
        top: 35px;
        left: 0;
        right: 0;
        bottom: 35px;
    }
    #slider .inner span {
        position: absolute;
        top: 0%;
        left: 0;
        right: 0;
        height: 22px;
        margin-top: -10px;
        background: #393939;
        color: #ccc;
        font-size: .8em;
        line-height: 22px;
        text-align: center;
        transition: top .2s, background .2s;
    }
    #slider:active .inner span {
        transition: none;
    }
    #slider .inner:active span, #graph .slider .inner span:hover {
        background: #494949;
}

.drawer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: -285px;
        height: 235px;
        overflow: hidden;
        padding: 20px;
        background: rgba(38, 41, 44, .97);
        color: #eee;
        transition: transform .5s;
        z-index: 15;
    }
    .drawer.hidecontent > * {
        display: none;
    }
    .drawer.show {
        transform: translateY(-285px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }
    .drawer h2 {
        font-weight: lighter;
    }
    .drawer input, .drawer textarea, .drawer select, button {
        background: #111;
        color: #eee;
    }
    .drawer input:focus, .drawer textarea:focus, .drawer select:focus,
    button:hover:not([class^="pika-"]), button:focus:not([class^="pika-"]) {
        background: #1a1a1a;
    }
    button:active {
        position: relative;
        top: 2px;
    }
    .drawer input[type="checkbox"]:focus { background: #111; }
    .drawer input[type="checkbox"]::before {
        filter: invert(100%);
}

#info section {
        text-align: center;
        margin-bottom: 20px;
    }
    #info section .current-player {
        margin: 0 10px;
        cursor: pointer;
    }
    #info section .menu {
        margin: 0 2px 5px;
        padding: 3px;
        filter: invert(100%);
        transition: background .2s;
    }
    #info section .menu.active {
        background: #2FC5E4;
    }
    #info section .menu:hover {
        background: rgba(255, 255, 255, .5);
    }
    #info section .menu.active:hover {
        background: #4FE7F6;
    }
    #info.disabled section .menu { display: none; }
    @media screen and (max-width: 600px) {
        #info section input { width: 100px; }
    }
    #info section input[name$="_1"] { text-align: right; }
    #info section input[name^="rank"] {
        width: 40px;
    }
    #info ul {
        height: 160px;
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
    #info ul input[type="text"] {
        width: calc(100% - 6em - 40px);
        max-width: 200px;
    }
    #info form p {
        position: absolute;
        right: 20px;
        bottom: 20px;
        margin: 0;
    }
    #info ul input[name="komi"],
    #info ul input[name^="size-"] { width: 45px; }
    @media screen and (max-width: 600px) {
        #info ul input[name^="size-"] { width: 40px; }
    }
    #info span.size-swap {
        padding: 3px;
        cursor: pointer;
    }
    #info.disabled span.size-swap { cursor: default; }
    #info label span {
        display: inline-block;
        width: 6em;
        margin-right: 10px;
        text-align: right;
}

#score {
        background: rgba(251, 245, 147, .9);
        color: #333;
    }
    #score h2 {
        font-weight: normal;
    }
    #score .tabs {
        position: absolute;
        top: 27px;
        left: 96px;
        right: 20px;
        text-align: left;
    }
    #score .tabs li a {
        border-color: rgba(0, 0, 0, .2);
        color: #333;
    }
    #score .tabs li.current a {
        border-color: transparent;
        background: rgba(0, 0, 0, .2);
    }
    #score .tabs li:not(.current) a:hover,
    #score .tabs li:not(.current) a:focus {
        border-color: transparent;
        background: rgba(0, 0, 0, .1);
    }
    #score table {
        margin: 1em auto;
        width: 100%;
        max-width: 750px;
        border-collapse: collapse;
    }
    #score th, #score td {
        padding: 10px;
        text-align: right;
    }
    #score th {
        font-weight: normal;
        font-size: .8em;
        text-transform: uppercase;
    }
    #score td {
        font-size: 1.5em;
        font-weight: bold;
        transition: opacity .2s;
    }
    #score table .disabled {
        opacity: .5;
    }
    #score tbody tr:first-child {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
    #score .result {
        margin-right: 1.5em;
        font-weight: bold;
    }
    #score button {
        background: rgba(0, 0, 0, .1);
        color: #333;
    }
    #score button:focus, #score button:hover {
        background: rgba(0, 0, 0, .2);
}

.tabs {
        list-style: none;
        text-align: center;
    }
    .tabs li {
        display: inline-block;
    }
    .tabs li a {
        display: inline-block;
        border: 1px solid #1a1a1a;
        border-left: none;
        padding: 2px 10px;
        color: #eee;
        text-decoration: none;
        transition: background .2s, border-color .2s;
    }
    .tabs li:first-child a {
        border-left: 1px solid #1a1a1a;
    }
    .tabs li.current a {
        border-color: transparent;
        background: #111;
    }
    .tabs li:not(.current) a:hover, .tabs li:not(.current) a:focus {
        border-color: transparent;
        background: #1a1a1a;
}

#info-overlay {
        position: absolute;
        top: 33%;
        left: 50%;
        padding: .5em 3em;
        border-radius: 1.5em;
        background: rgba(0, 0, 0, .6);
        color: white;
        font-size: 1.5em;
        white-space: nowrap;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .5s;
        pointer-events: none;
        z-index: 999;
    }
    #info-overlay.show {
        opacity: 1;
        transition: opacity .1s;
}

/* Override Shudan styles */

.shudan-vertex .shudan-heatlabel::first-line {
    font-weight: bold;
}

.shudan-vertex .shudan-heat {
    transition: none;
}
