[Unit]
Description=BUGOUT tinybrain

[Service]
Environment="TINYBRAIN_HOME=/path/to/git/BUGOUT/tinybrain"
ExecStart=/bin/bash /path/to/git/BUGOUT/tinybrain/start-tinybrain.sh

[Install]
WantedBy=multi-user.target
