[Unit]
Description=BUGOUT tinybrain

[Service]
Environment="TINYBRAIN_HOME=/home/youruser/BUGOUT/tinybrain"
ExecStart=sh /home/youruser/BUGOUT/tinybrain/start-tinybrain.sh

[Install]
WantedBy=multi-user.target
~
